import type { SearchParams } from "../utils";
export interface Input {
    searchParams: SearchParams;
    pageNumber: number;
}

<for|key, value| in=input.searchParams>
    <if=key !== "page" && value>
        <input type="hidden" name=key value=value>
    </if>
</for>

<input type="hidden" name="page" value=input.pageNumber>
